/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #000000;
    color: white;
}

.pricing {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.pricing-item {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.pricing-item h2 {
    margin-top: 10px;
    color: #333;
}

.pricing-item p {
    color: #666;
    font-size: 14px;
}

.price {
    font-size: 24px;
    font-weight: bold;
    color: #4CAF50;
    margin-top: 10px;
}

/* Estilos para la galería */
.image-gallery {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-image {
    max-width: 100%;
    max-height: 200px;
    display: block;
    border-radius: 5px;
    object-fit: cover;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    z-index: 10;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}


/* Estilos para los precios */
.prices {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.price {
    font-size: 16px;
    font-weight: bold;
}

.price.usd {
    color: #4CAF50;
}

.price.pesos {
    color: #FF5722;
}